@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: black;
    overflow: auto;
    overflow-x: hidden;
    font-family: "Spline Sans Mono", monospace;
}

button{
    position: sticky;
    padding: 15px 20px;
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    left: 30px;
    top: 30px;
}

button i:hover{
    cursor: pointer;
}

body::-webkit-scrollbar {
    display: none;
}
#menu{
    display: flex;
    flex-direction: column;
    position: absolute;   
    justify-content: space-between;
    background-color: rgba(124, 123, 123, 0.2);
    top: 0;
    height: 100%;
    padding: 10px 20px;
    z-index: 5;
    transform: translate(-100%);
}

ul{
    list-style: none;
}
li{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.rainbow{
    position: inherit;
    background:linear-gradient(
        90deg,
        #ff0000,
        #ffd300,
        #a1ff0a,
        #0aefff,
        #580aff,
        #ff0000
    );
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* transition:all 1s ease;
    transition-delay:all 1s ease; */
    animation: rainbow 5s linear infinite;;
    /* -webkit-transition-delay:all 1s ease;
    -webkit-animation:rainbow 3s infinite; */
    
    
}
/* .rainbow:hover{

    -webkit-text-fill-color: transparent;
    
} */

#blob{
    position:absolute;
    background-color: #fff;
    height: 200px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    z-index: -3;
    filter: blur(5.5rem);

    background: linear-gradient(
        to right,
        aquamarine,
        rgb(124, 65, 243)
    );

    transition: all 1.5s ease;
    animation: rotate 15s infinite;
}


.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.word{
    display: inline;
    color: #fff;
    font-size: 4rem;
    font-family: "Spline Sans Mono", monospace;
    cursor: default;
    /* letter-spacing: 3px; */
    max-width: 500px;
    text-align: center;
    opacity: 0;
    transition: all 1.5s ease;
    filter: blur(1px);
    transform: translateX(-100%);
    font-weight: bold;
}
a{
    color: #fff;
    text-decoration: none;
}

.content:has(.fancy:hover) .word:not(.fancy:hover){
    opacity: 0.2;
}

body:has(.fancy:hover) .blob{
    opacity: 0.2;
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}


@keyframes rotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@keyframes rainbow {
    100%{
        background-position-x: -200%;
    }
    
}